.alert {
  background-color: #3B104B;
}
.icon-alert {
  font-size: 60px;
  color: red;
}

/* Hiệu ứng nhấp nháy */
.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
